*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
/*   -webkit-font-smoothing: antialiased; */
}
html,body{
  height: 100%;
  padding-top: 0px;
  padding-right: 11px;
  color: white;
  background: black;
  /* 注意 position 和 overflow */
}

#home {
  padding-left: 70px;
}

/* 首先禁止显示slides */
.slides {display: none;}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Caption text */
.movieCaption {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 325px;
  position: absolute;
  bottom: 4px;
  width: 455px;
  background-color: rgba(0, 0, 0, 0.8);
}
.tvCaption {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 325px;
  position: absolute;
  bottom: 4px;
  width: 455px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 100px;
}

.navBar {
  text-align: right;
  padding-top: 30px;
  position: absolute;
  margin-left: 100px;
}
.navBar a {
  padding-bottom: 0px;
}
#home-button {
  font-size: 13px;
  color: rgb(166, 36, 30);
  position: absolute;
  top: 60px;
  left: 120px;
  padding-right: 13px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid whitesmoke;
  margin-bottom: 30px;
  text-align: right;
}
#search-button {
  font-size: 13px;
  position: absolute;
  top: 120px;
  left: 120px;
  padding-bottom: 20px;
  padding-right: 11px;
  border-bottom: 0.5px solid black;
  text-align: right;
}
#search-button a:hover {
  color: rgb(166, 36, 30);
}
#home-button a:hover {
  color: rgb(166, 36, 30);
}

h3 {
  padding-left: 5px;
  color:rgb(166, 36, 30);
  font-weight: 900;
}

.horizontalGradual {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0), rgba(173,37,30,1));
}

#container{
  margin-left: 230px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 180px;
  border-left: 0.5px solid whitesmoke;
  /*保证footer是相对于container位置绝对定位*/
  position:relative;  
  /* width:80%; */
  max-width:100%;
  /* 最小高度保证屏幕在搜索栏时不需要滚动 */
  min-height:90%;
  /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/  
  padding-bottom: 30px;  
  box-sizing: border-box;
}
#left-half {
  background-color:darkolivegreen;
  float: left;
  width: 25px;
  min-height: 90%;
}
#right-half {
  border-left: 0.5px solid whitesmoke;
  width:75%;
  min-height:90%;
  margin-right: 230px;
}
.left-half {
  float: left;
  width: 100%;
  height: 300px;
  background-color: blue;
  margin-right: -300px;
}
.right-half {
  float: right;
  width: 300px;
  height: 400px;
  background-color: yellow;
}
header{
  width: 100%;
  font-size: 20px;
  /* height: 200px; */
  background: #999;
}
#search{
  height: 180px;
  /* 使search bg不跟随响应式 */
  width: 750px;
  position: relative;
  background-image: linear-gradient(to top, rgba(255,0,0,0),rgba(173,37,30,1));
}
.red-dot{
  font-size: 10px;
  color:rgb(177, 54, 43);
  vertical-align:super;
}
#search-text{
  position: absolute;
  left: 200px;
  top: 50px;
}
.search-button{
  cursor: pointer;
  position: relative;
  left: 100px;
  margin-left: 30px;
  font-size: 10px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: black;
  border-radius: 3px;
  border:1px solid black;
}
label{
  font-size: 11px;
}
.radius{
  border-radius:3px;
  border:1px solid #DBDBDB;
}
footer{
  font-size: 8px;
  font-style: italic;
  color: whitesmoke;
  width: 100%;
  height:30px;   /* footer的高度一定要是固定值*/
  position:absolute;
  bottom:0px;
  left:9px;
  padding-top: 8px;
  background: rgb(88, 19, 14);
}
div.right-text {

  text-align: right;
  margin-top: 80px;
}