body {
  color: white;
  background: black;
}

.verticalLine {
  border-left: 1px solid white;
  /* height: 100%; */
  position: absolute;
  /* left: 50%; */
  margin-left: 230px;
  margin-bottom: 50px;
}

h3 {
  color:brown;
  font-size: larger;
}