.inner-text-overflow{
  margin-bottom: 20px;
  width: 800px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 520px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment{
  font-size: 12px;
}
.card{
  width: 750px;
  /* position relative is important */
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 290px;
  border-left: 6px solid rgb(172, 37, 28);
}
.card-text{
  width: 100%;
  position: absolute;
  left: 220px;
  top: 30px;
}
.card-text h2{
  font-size: 16px;
  font-weight: 900;
}
.card-text p{
  font-size: 10px;
}
.card-text span{
  color: brown;
}
.card-text button{
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background-color: rgb(169, 37, 28);
  border-radius: 3px;
  border:1px solid rgb(169, 37, 28);
}
.result-img{
  margin-left: 5px;
  margin-top: 7px;
}
#no-result{
  font-size: 10px;
  top: 55px;
  left: 350px;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width change to fix */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}
/* Modal Content */
.modal-content {
  color: black;
  background: rgb(202, 202, 202);
  margin: auto;
  margin-bottom: 90px;
  padding: 15px 30px 20px 30px;
  border: 1px solid #888;
  width: 800px;
}
#inner-title {
  padding-top: 15px;
}
#inner-vote span {
  color: brown;
}
#language {
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
}
.modal-content p {
  padding-top: 10px;
}
.modal-content h1 {
  font-size: 20px;
  font-weight: 900px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.name-date {
  font-size: 14px;
}
.name-date span {
  font-weight: 900;
}
.rating {
  color: brown;
  font-size: 14px;
}
#website {
  font-size: small;
  cursor: pointer;
  text-decoration: none;
  color: brown;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  font-size: 14px;
  display: none;
  text-align: center;
  float: left;
  width: 185px;
  padding: 5px;
}
.column p {
  padding-top: 0px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
p.bold-name {
  font-weight: 900;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#no-cast {
  display: none;
}
#no-review {
  display: none;
}
.review {
  display: none;
}
hr.solid {
  border-top: 1px solid rgb(176, 176, 176);
  width: 600px;
  margin-left: 85px;
  border-radius: 0px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}