#results{
  /* position: relative; */
  /* position: relative; */
  /* display: none; */
}
/* https://www.daqianduan.com/6179.html */
/* https://blog.csdn.net/zgh0711/article/details/78270555 */
/* https://www.zoo.team/article/text-overflow */
.text-overflow{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card{
  /* position relative is important */
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 290px;
  border-left: 6px solid rgb(172, 37, 28);
  /* background-color: bisque; */
  background: rgba(240, 236, 236, 0.6);
}
.card-text{
  position: absolute;
  left: 220px;
  /* margin-top: 30px; */
  top: 17px;
}
.result-img{
  margin-left: 5px;
  margin-top: 7px;
}
#no-result{
  font-size: 10px;
  top: 55px;
  left: 350px;
  position: relative;
}