*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
#container{
  overflow:visible;
  border-left: 0.5px solid #000000;
  margin-left: 230px;

  display: flex;
  flex-direction: column;
  height: 90%;
}
header{
  background: #999;
  font-size: 40px;
  /* flex: 0 0 auto; */
  /* position: absolute; */
}
.main{
  min-height: 400px;
  background: orange;
  flex: 1 1 auto;
  /* display: flex; */
}
footer{
  background: #333;
  flex: 0 0 auto;
}
.verticalLine {
  border-left: 0.5px solid black;
  /* position: absolute; */
  /* margin-left: 230px; */
  /* flex: 0 1 auto; */
  /* margin-bottom: 50px; */
}
.navBar {
  position: absolute;
  margin-left: 100px;
  /* flex: 1 0 auto; */
}